<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Egg Client"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.remainsoftware.egg.ui/com.remainsoftware.egg.ui.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.remainsoftware.egg.ui/css/default.css">
         </property>
         <property
               name="appName"
               value="Egg Client">
         </property>
         <property
               name="windowImages"
               value="icons/egg-16.png">
         </property>
      </product>
   </extension>
   <extension
         id="toepie"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Egg Client">
      </product>
   </extension>

</plugin>
